.navbar
{
    
  display: flex;             /* Flexbox layout */
  align-items: center;       /* Center items vertically */
  justify-content: space-between; /* Distribute items with space between */
  padding-left: 100px;       /* 100px padding on the left */
  padding-right: 100px;      /* 100px padding on the right */
  height: 80px;              /* Fixed height of 80px */
  background-color: #141414; /* Background color */


}
.logo
{
    width: 150px;
    cursor: pointer;
    margin: 10px;
}

.linked {
    margin-right: 10px; 
    color: white;
    text-decoration: none;
    
  }
  .DropDownNavbar
  {
    position: absolute;
    margin-top: 400px;
    margin-left: 66%;
    background-color: #0D0D0D;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 300px;
    height: 200px;
  }
.name
{
    font-size: 20px;
}
.hidden
{
    display: none;
}